<!DOCTYPE html>
<html>
    <head>
        <title>Error Page!</title>
        <link rel="stylesheet" type="text/css" href="../style1.css">
    </head>

    <body>
        <div id="container">
             <h1>
                ERROR PAGE 404!
            </h1>
        </div> 
    </body>
</html>