*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
body {
    font: 15px/1.5 Arial, Helvetica, sans-serif;
}
.container, .newsletter-container {
    width: 80%;
    margin:auto;
    overflow: hidden;
}
.newsletter-container {
    display:flex;
    flex-direction: row;
    justify-content: space-between;
}
.btn {
    border: 2px solid #e8491d;
    border-radius: 20px;
    background-color:  #e8491d;
    padding: 0px 15px;
    font-size: 1em;
    font-family: 'Poppins', sans-serif;
    cursor: pointer;
    margin: 10px;
    transition: 0.8s;
    position: relative;
    color: white;
    z-index: 1;
}
.btn:hover, .signup-btn:hover {
    transform: scale(0.95);
    color:  #35424a;
}
nav {
    position: fixed;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 8vh;
    border-bottom: #e8491d 3px solid;
    background-color: #35424a;
    font-family: 'Poppins', sans-serif;
    z-index: 2;
}
#logo a{
    color: white;
    text-transform: uppercase;
    letter-spacing: 5px;
    font-size: 1.5em;
    text-decoration: none;
}

#logo .highlight, .nav-links, .cool-link:hover, #Nav:hover {
    color: #e8491d;
}
#logo .highlight:hover {
    color: white;
}
.cool-link::after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: white;
    transition: width .5s;
}
.cool-link:hover::after {
    width: 100%;
    transition: width .5s;
}
.nav-links {
    display: flex;
    justify-content: space-around;
    width: 30%;
}
.nav-links li {
    list-style: none;
}
.nav-links a {
    color: white;
    text-decoration: none;
    letter-spacing: 3px;
    font-weight: bold;
    font-size: 1em;
}
.orange {
    color: #e8491d !important;  
}
.white {
    color: white !important;
}
.burger {
    display: none;
    cursor: pointer;
}
.burger div{
    width: 25px;
    height: 3px;
    background-color: white;
    margin: 5px;
    transition: all 0.3s ease;
}
@media screen and (max-width:1024px) {
    .nav-links{
        width: 50%;
    }
}
@media screen and (max-width:760px) {
    body{
        overflow-x: hidden;
    }
    .nav-links{
        position: absolute;
        right: 0px;
        height: 92vh;
        top: 8vh;
        background-color: #35424a;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 50%;
        transform: translateX(100%);
        transition: transform 0.5s ease-in;
    }
    .nav-links li{
        opacity: 0;
    }
    .burger{
        display: block;
    }
}
.nav-active{
    transform: translateX(0%);
}
@keyframes navLinkFade{
    from {
        opacity: 0;
        transform: translateX(50px);

    }
    to {
        opacity: 1;
        transform: translateX(0px);

    }
}
.toggle .line1 {
    transform: rotate(-45deg) translate(-5px, 6px);
}
.toggle .line2 {
    opacity: 0;
}
.toggle .line3 {
    transform: rotate(+45deg) translate(-5px, -6px);
}

/* SHOWCASE */
#customize-container {
    display:flex;
    flex-direction: column;
}
#text-font {
    padding-left: 20px;
    font-family: 'Poppins', sans-serif;
}
#showcase {
    background:url('./img/showcase.jpg') no-repeat center;
    color: white;
}
#main-container {
    display:flex;
    flex-direction: row-reverse;
    justify-content: space-between;
}
#text-main-container {
    display:flex; 
    flex-direction: column;
    padding:5% 0 5% 10%;
}
#text-main-container p {
    font-size: 1.3em;
}
#register-succesful {
    margin-left:50px;
}
.signup-form h1, #text-main-container h1, #register-container h1 {
    margin-top :2em;
    font-size: 2.5em;
    margin-bottom: 10px;
}
.padding {
    padding:5% 0 5% 0;
    padding-left:0 !important;
}
#register-container h2 {
    text-align: center;
    padding-right: 16px;
}
.signup-form {
    min-width:400px;
    padding-top: 20px;
    text-align: center;
    align-self: center;
}
#errPar {
    background-color: #D8000C;
    height: 40px;
    display:flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 10px;
    font-size:20px;
    font-weight: bold;
}
#errParLogin {
    background-color: #D8000C;
    height: 40px;
    display:flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 10px;
    font-size:20px;
    font-weight: bold;
    text-align: center;
    margin-top: 10px;
    width:400px;
}
.signup-form h1{
    font-family: 'Permanent Marker', cursive;
    color: white;
    font-size: 40px;
}
.warning {
    border: 2px solid #f39389;
    border-radius: 2px;
    padding: 10px;
    position: absolute;
    background-color: #fbd8d4;
    color: #3b3c40;
    margin-left: 260px;
    margin-top: 30px;
  }
.signup-form input, #enter-box {
    overflow: hidden;
    display:block;
    width: 400px;
    padding: 0 16px;
    height: 44px;
    text-align: center;
    box-sizing: border-box;
    outline: none;
    border: none;
    font-family: 'Poppins', sans-serif;
}
.txtb {
    margin: 20px 0;
    background: rgba(255, 255, 255, .5);
    border-radius: 6px;
}
.signup-btn {
    margin-top: 60px;
    margin-bottom: 20px;
    background: #e8491d;
    color: #fff;
    border-radius: 44px;
    cursor:pointer;
    transition: 0.8s;
}
.customize-font-button {
    background-color: #e8491d;
    border:none;
    width: 60px;
    height: 30px;
      transition: 0.8s;
}
.customize-font-button:hover {
    transform: scale(0.95);
    cursor: pointer;
    background-color: #35424a;
}
.signup-form a{
    text-decoration: none;
    color: #fff;
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    padding: 10px 10px 10px 10px;
    transition: 0.8s;
    display:block;
}
.signup-form a:hover {
    background: rgba(0, 0, 0, .3);
}
.customize-font-button:focus, .change-background, #enter:focus  {
    outline: none;
}
input[type="radio"] {
    margin:-17px 15px 0px 15px;
}
#enter-container {
    display:flex;
    flex-direction: column;
}
#enter-box {
    margin:10px 10px 10px 0px;
    background: rgba(255, 255, 255, .5);
    border-radius: 6px;
    padding: 0 16px;
    height: 44px;
}
#enter {
    margin:10px 10px 10px 0px;
    overflow: hidden;
    display: block;
    width: 179px;
    padding: 0 16px;
    height: 40px;
    text-align: center;
    box-sizing: border-box;
    border: none;
    font-family: 'Poppins', sans-serif;
}
#radio-container {
    padding-top: 10px;
    padding-bottom: 10px;
    border-color: none;
}
.change-background {
    margin-top: 20px;
    width: 179px;
    margin-bottom: 0px;
    height: 40px;
    border: none;
    align-self:center;
}
#register-container {
    display:flex;
    flex-direction: column;
    justify-content: center;
}
@media screen and (max-width:1460px) {
    .newsletter-container {
        flex-direction: column;
    }
}
/* @media screen and (max-width:1150px) {
    .signup-form input {
        width:300px;
        overflow: hidden;
    }
} */
@media screen and (max-width:1024px) {
    #main-container {
        display:flex;
        flex-direction: column;
    }
    #text-main-container  {
        text-align: center;
        padding-left: 0;
        align-items: center;
    }
    .signup-form h1 {
        margin-top: 25px;
    }
    #showcase {
        background: url(images/bg.jpg) no-repeat center 100% 100%;
    }
    .warning {
        margin-left: 50%;
        margin-top: 30px;
    }
    #enter {
        align-self: center;
    }
    #register-container h1 {
        text-align: center;
    }
    #enter-box {
        width:100%;
    }
    .container-signup {
        display:flex;
        flex-direction: column;
        align-items: center;
    }
    #register-container h2 {
        padding-top: 30px;
    }
    .newsletter-container {
        flex-direction: column;
    }
}
@media screen and (max-width:760px) {
    #main-container {
        display:flex;
        flex-direction: column;
        margin: 5px;
    }
    #text-main-container {
        text-align: center;
    }
    #text-main-container h1 {
        font-size: 1.8em;
        margin-top:3em;
    }
    #text-main-container p {
        font-size:1em;
    }
    #radio-container, .font-buttons { 
        display: flex;
        flex-direction: column;
    }
    .signup-form input {
        width:70%;
    }
    #errParLogin {
        width: 100%;
        font-size: 13px;
    }
}
#newsletter {
    padding: 15px;
    color: white;
    background-color: #35424a;
}
 #newsletter h1 {
    padding-top: 15px;
    float: left;
}
#newsletter form {
    float: right;
} 
#newsletter input[type="email"], #newsletter input[type="password"] {
    padding: 4px;
    height: 25px;
    width: 250px;
    border:none;
    font-family: 'Poppins', sans-serif;
}
/* BOXES */

#boxes {
    background-color: #35424a;
}
.flex-container {
    display: flex;
    justify-content: center;
    padding: 0 200px 0 200px;
}
#boxes .box {
    float:left;
    padding: 10px;
    text-align: center;
}
#boxes .box img {
    width: 90px;
}
#boxes p {
    color:white;
}
.grid-container {
    height: 2050px;
    padding: 0 20% 0 20%;
    margin:0;
    background-image: url(./img/incercare.png);
    background-size: cover;   
}
#HOME {
    margin: 0;
    width: 100%;
    text-align: center;
    height: 25%;
    padding: 50px 0px 50px 0px;
}
#WORK {
    margin: 0;
    width: 100%;
    text-align: center;
    height: 25%;
    padding: 50px 0px 50px 0px;
}
#ABOUT {
    margin: 0;
    width:100%;
    text-align: center;
    height: 25%;
    padding: 50px 0px 50px 0px;
}
#SECURITY {
    margin: 0;
    width:100%;
    text-align: center;
    height: 25%;
    padding: 50px 0px 50px 0px;
}
.flex-container-odd {
    display:flex;
    width: 100%;
    height: 100%;
    justify-content: center;
}
.flex-container-even {
    display:flex;
    flex-direction: row-reverse;
    width: 100%;
    height: 100%;
    justify-content: center;
}
.image {
    width: 50%;
    height: 100%;
}
.flex-container-odd p, .flex-container-even p {
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    display:flex;
    flex-direction: column;
    justify-content: center;
    color: white;
}

@media screen and (max-width:1024px) {
    .flex-container-odd p, .flex-container-even p {
        font-size: 15px;
        color: white;
    }
    .image {
        width: 60%;
        height: 100%;
    }
}
@media screen and (max-width:760px) {
    .flex-container-odd {
        display:flex;
        flex-direction: column;
        justify-content: center;
    }
    .flex-container-even {
        display:flex;
        flex-direction: column;
        justify-content: center;
    }
    .image {
        width: 100%;
        height: 60%;
        overflow: hidden;
    }
    .flex-container-odd p, .flex-container-even p {
        color: white;
    }
}
footer {
    color:white;
    text-align: center;
    background-color: #35424a;
}
.footer-box {
    size:auto;
    padding: 20px 20px 20px 20px;
    display:flex;
    flex-direction: column;
    justify-content: center;
}
#flex-table {
    display:flex;
    flex-direction: row;
    justify-content: space-around;
}
.auxiliar {
    display:flex;
    flex-direction: column;
    justify-content: center;
}
.footer-box .highlight {
    color:#e8491d;
    text-transform: uppercase;
}
.box h1 {
    font-size:2.5em;
}
.box p {
    font-size:1em;
}
.content-table {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    min-width: 300px;
    border-radius: 5px 5px 0 0;
    overflow: hidden;
    box-shadow:0 0 20px rgba(0, 0, 0, 0.7);
    font-family: 'Poppins', sans-serif;
    background-color: white;
    color: black;
}
.content-table thead tr {
    background-color: #F7813D;
    color: white;
    text-align: center; 
    font-weight: bold;
}
.content-table th, .content-table td {
    padding: 12px 15px;
}
.content-table tbody tr {
    border-bottom: 1px solid #dddddd;
}
.content-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}
.content-table tbody tr:last-of-type {
    border-bottom: 2px solid #F7813D;
}
.content-table tbody tr:first-child {
    font-weight: bold;
    color:#F7813D;
}
#flex-gallery {
    display:flex;
    flex-direction: row;
}
figcaption {
    font-family: 'Permanent Marker', cursive;
}
.image-gallery {
    padding:5px;
    border: 1px solid #35424a;
    border-radius: 20px;
    width:200px;
    height: 200px;
}
.s-m a {
    text-decoration: none;
    display:inline-flex;
    width: 40px;
    height: 40px;
    background:  #e8491d;
    color: white;
    margin: 0px 6px;
    border-radius:50%;
    justify-content: center;
    align-items: center;
    transition: 0.4s;
    font-size:24px;
}
.s-m a i{
    transition: 0.4s all;
}
.s-m a:hover > i {
    transform:scale(1.6) rotate(25deg);
}
#text-data-time {
    padding:20px;
    font-size: 20px;
}
#fact {
    padding:20px;
    font-size: 20px;
}
@media screen and (max-width:1310px) {
    .image-gallery {
        width: 100px;
        height: 150px;
    }
}
@media screen and (max-width:1024px) {
    #flex-table {
        display:flex;
        flex-direction: column;
        align-items: center;
    }
    .image-gallery {
        width: 200px;
        height: 200px;
    }
}
@media screen and (max-width:760px) {
    #flex-gallery {
        flex-direction: column;
    }
}